body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    /*background-image: url('../img/apple.png');*/
    background-position: center;
    background-size: cover;
}